.ListeCard:hover, .retour:hover, .collection-item{
  cursor: pointer;
}

nav{
  height: 80px;
  line-height: 80px;
}

nav .brand-logo{
  padding: 0 10px;
  border-radius: 20px;
}

.brand-logo:hover{
  /*background: #58cdbd;*/
  color: gold;
}